body {
 background-image: url('http://i.huffpost.com/gen/2457764/images/o-PILLARS-OF-CREATION-facebook.jpg');
 /* width: 100vw; */
 background-repeat: no-repeat;
 color: white;
 font-family: 'IBM Plex Mono', monospace;
 background-attachment: fixed;
}

input {
  font-family: 'IBM Plex Mono', monospace;;
}

a {
  color: greenyellow;
}

nav {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: hotpink;
  margin-left: 0;
}

nav img {
  height: 50px;
  border-radius: 20%;
  margin-left: 5px;
  box-sizing: border-box;
}

nav img:hover {
  border: hotpink;
  border-style: solid;
  border-width: 3px;
}

nav ul {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

nav ul li {
  display: inline;
  list-style: none;
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-size: 24px;
}

nav ul li a {
  color: hotpink;
}


/* Index */
.index-project-area {
  display: grid;
  /* width: 100vw; */
  height: 120vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2.5%;
}

.index-project-area a {
  font-size: 28px;
}

.index-projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgb(53, 194, 255);
  background-color: rgba(255, 255, 255, 0.5);
}

.index-project-images {
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .index-project-images{
    max-width: 150px;
    height: auto;
    border-radius: 5px;
  }
}
/* Show */
.show-box {
  display: flex;
  width: 75vw;
  height: 50vw;
  max-width: 900px;
  max-height: 600px;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 2.5%;
  margin-left: 50%;
  transform: translateX(-50%);
}
.show-box h1 {
  color: greenyellow;
}
.show-box img {
  border-radius: 5px;
  max-width: 500px;
  max-height: 300px;
}
.show-box p {
  color: hotpink;
}
.edit-delete-buttons {
  width: 100%;
  display: flex;
  margin-bottom: 4%;
  justify-content: space-evenly;
  align-items: center;
}
.edit-delete-buttons input {
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
/* Edit */
/* New */
.new-input-box {
  display: flex;
  width: 75vw;
  height: 50vw;
  max-width: 900px;
  max-height: 600px;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  padding: 5%;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 2.5%;
  margin-left: 50%;
  transform: translateX(-50%);
  line-height: 50px;
  font-size: 24px;
}
.new-input-box input {
  background-color: hotpink;
  color: white;
  border-radius: 5px;
}